---
let year = Astro.url.searchParams.get("year")

if (year === null) {
  year = 'all';
}

interface Props {
  years: string[];
}

const { years } = Astro.props;
---
<div class="flex gap-6 items-center">
  <span class="text-base text-ink-muted font-medium uppercase">Year</span>
  <span class="text-accent-gold">✦</span>
  <div id="yearFilter" class="flex flex-wrap ">
    {
      years.map((y) => {
        return (
          <button value={y} class:list={[{ selected: year === y }]} type="button">
          {y}
        </button>
      );
    })
  }
  </div>
</div>

<style>
  @import "tailwindcss/theme" theme(reference);
  @import "../../styles/global.css" reference;
  button {
    @apply border border-border px-3 md:px-5 py-1 md:py-2 text-center me-1 md:me-2 transition-all duration-300 capitalize text-base outline-none hover:text-primary hover:border-primary focus-visible:text-primary focus-visible:border-primary;
  }

  .selected {
    @apply border-primary focus-visible:text-primary bg-primary-bg text-primary focus-visible:opacity-50;
  }
</style>
<script>
  import type { yearType } from "~/utils/filterStore";
  import { $yearStore } from "~/utils/filterStore";

  // document.addEventListener('astro:page-load', () => {


  const btns = document.querySelectorAll('#yearFilter button') as NodeListOf<HTMLButtonElement>;
  const defaultBtn = document.querySelector('#yearFilter .selected') as HTMLButtonElement;
  let prev = defaultBtn;
  const url = new URL(window.location.href);
  let year = url.searchParams.get('year') as yearType;
  if (year === null) {
    year = 'all';
  }
  setYear(year);

  btns.forEach((btn) => {
    btn.addEventListener('click', () => {
      prev.classList.remove('selected');
      btn.classList.add('selected');
      prev = btn;
      const selectedYear = btn.value as yearType;
      setYear(selectedYear);
      const url = new URL(window.location.href);
      if (selectedYear !== 'all') {
        url.searchParams.set('year', selectedYear);
        window.history.pushState({}, '', url);
      } else {
        url.searchParams.delete('year');
        window.history.pushState({}, '', url);
      }
    });
  });

  function setYear(year: yearType) {
    $yearStore.set(year);
  }
// })

</script>
