---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Allí donde el bosque canta bajo los árboles de la eternidad">
	<div class="text-center space-y-6 text-lg md:text-xl">
		<p>
			Un diario vivo, dedicado a un amor que perdura. Estas páginas permanecerán, ocurra lo que ocurra- una promesa y guardada en la memoria. Cada historia es para ti, incluso si nunca llegas a leerlas.
		</p>
		
		<p>
			Siguiendo la tradición de los manuscritos iluminados y de los relatos antiguos que se transmitían al oído, este espacio existe como un registro permanente: un libro que no puede cerrarse, que no se marchita con el tiempo.
		</p>
		
		<p>
			Aquí, el amor no se escribe esperando ser visto, sino con la certeza tranquila de que algunas verdades merecen quedar por escrito. Que recordar, en sí mismo, es una forma de permanecer fiel.
		</p>
	</div>
</Layout>
