---
const { theme } = Astro.props;
---

<div
  class={`prose prose-h1:font-bold prose-h1:text-xl mx-auto
  prose-a:text-primary-light
  prose-h2:text-2xl prose-h2:md:text-3xl
  prose-img:mx-auto prose-img:rounded-xl 
  prose-h4:text-ink-muted prose-h4:text-xs 
  prose-blockquote:text-ink prose-blockquote:border-accent-gold
  `}
>
  <slot />
</div>
