---
type Props = {
  variant: keyof typeof variantClasses;
  title: string;
  class?: string;
};

const { title, class: className, variant, ...props } = Astro.props;

const variantClasses: { [key: string]: string } = {
  primary: 'text-3xl md:text-5xl max-w-fit block mx-auto',
  small: 'text-xl md:text-3xl',
};

const classes = [
  variantClasses[variant as keyof typeof variantClasses],
  className,
];
---

<h1 class:list={classes} {...props} tabindex="0">
    <div class="flex items-center justify-center gap-2">
        <span class={`text-accent-gold block ${variant === 'small' ? 'text-xl md:text-3xl ' : 'text-2xl md:text-5xl'}`}>+</span>
        <span class="text-balance">{title}</span>
        <span class={`text-accent-gold block ${variant === 'small' ? 'text-xl md:text-3xl ' : 'text-2xl md:text-5xl'}`}>+</span>
    </div>
</h1>
